/* frontend/src/components/CategoryList/CategoryList.module.scss */
.category_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  flex-wrap: wrap;
  gap: 16px;
}

.title h1 {
  margin: 0;
}

.title_link p {
  color: var(--primary);
  font-weight: 500;
  border-bottom: 1px dashed var(--primary);
  transition: var(--transition);
}

.title_link p:hover {
  color: var(--primary-dark);
  border-bottom-style: solid;
}